/*This is the state of the document head*/
head {
	border:1px solid black;
}

/*This is the state of the body*/
body {
    background-color: lightblue;
	border:1px solid black;
}

/*This is the state of heading 1*/
h1 {
    color: navy;
    margin-left: 20px;
	border:1px solid black;
}

/*This is the state of the span class*/
span {
    color: navy;
    margin-left: 20px;
	border:1px solid black;
}

/*This is the button*/
button {
	border: solid #000000 2px;
	padding:3px 5px 3px 5px;
	margin:2px;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	
}

/*This is the state when you hover over a button*/
button:hover {
	background-color:#eee;
}

/*This is the state when the button is pressed*/
button:active {
	background-color:#CFCFCF;
}

/*This is the first container definition that I am using. Just as a test*/
#left_container{
	float:left;
	width:40%;
	border:1px solid black;
	margin:2px;
}

/*This is the first container definition that I am using. Just as a test*/
/*Same as previous, just on the other side for testing*/
#right_container{
	float:right;
	width:40%;
	border:1px solid black;
	margin:2px;
}