/*Fixes the body of the code from breaking in HTML 5*/
html, body, div {
  	margin:0;
	padding:0;
	border:0;
	font-size: 100%;
	font:inherit;
	vertical-align:baseline;
}

/*This is the state of the body*/
/*This is the black box around the whole document*/
body {
	height:100%;
	width:100%;
    background-color: lightblue;
<<<<<<< HEAD
	border:1px solid black;
	margin:0px
	height: 100%;
=======
>>>>>>> origin/master
	min-height: 100%; /* for firefox */
	overflow:hidden;
}

/*This is the state of the span class*/
span {
    color: black;
}

/*This is the button*/
button {
	border: solid #000000 2px;
	padding:3px 5px 3px 5px;
	margin:2px;
	border-radius: 6px;
}

/*This is the state when you hover over a button*/
button:hover {
	background-color:#eee;
	padding:2px 4px 2px 4px;
	margin:3px
}

/*This is the state when the button is pressed*/
button:active {
	background-color:#CFCFCF;
}

/*This is the first container definition that I am using. Just as a test*/
#left_container{
	position:absolute;
	float:left;
	width:20%;
	border:1px solid black;
	margin:0px;
}

#middle_container{
	float:left;
	width:59%;
	/*border:1px solid black;*/
	margin:0px;
}

#right_container{
	float:right;
	width:20%;
	border:1px solid black;
	margin:0px;
}


/*This changes the settings for the unordered list (ul), with the ID:'menu'*/
ul#menu {
    padding: 0;
}

/*Changes the style of the list element inside ul#menu*/
ul#menu li {
    display: inline;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

/*Changes the style of the list elements */
ul#menu li:hover {
    background-color: orange;
}

/*This is the style of the bar at the top of the page*/
div#top_bar {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:30px;
	background-color:#000000;
}

/*This is the style of the text in the top_bar*/
#topBar div
{
	margin:6px 8px;
	color:white;
}


div#game {
	position:absolute;
	left:0px;
	top:32px;
	right:0px;
	bottom:0px;
	overflow:hidden;
}

div#left_container {
	position:absolute;
	left:0px;
	top:0px;
	width:30%;
	bottom:0px;
	min-width:100px;
	overflow:hidden;
	border:1px solid black;
}

div#middle_container {
	position:absolute;
	left:30%;
	top:0px;
	width:40%;
	bottom:0px;
	min-width:100px;
	overflow:hidden;
	border:1px solid black;
}